:root {
    --color-primary: #0275d8;
    --color-success: #5cb85c;
    --color-info: #5bc0de;
    --color-warning: #f0ad4e;
    --color-danger: #d9534f;
    --color-inverse: #292b2c;
    --color-faded: #f7f7f7;
}

body {
    background: #fffceb;
    text-align: center;
}

button {
    margin: 0;
    padding: 0.5rem 1rem;

    font-size: 1rem;
    font-weight: 400;
}